@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html {
    scroll-behavior: smooth;
}
.pointer{
    cursor: pointer;
}
/* mudrapay */

/* -------------- home-banner Section -------------------*/
.home-banner img{
    width: 550px;
    margin-bottom: 20px;
}
.home-banner h1{
    font-family:"Poppins";
    font-size: 30px;
    margin: 140px 0 0 0;
    text-align: right;
}
.home-banner p{
    font-family:"Poppins";
    font-size: 20px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: lighter;
}
.custom-button{
    margin: 30px 0px;
    padding: 5px 16px;
    text-decoration: none;
    font-family: "Poppins";
    text-transform: none;
    height: 50px;
    width: 170px;
    box-shadow: 0px 0px 6px #616161;
}
.mudrapay-blue-button{
    background: #394264;
    color: #ffffff !important;
}
.mudrapay-green-button{
    background: #73b819;
    color: #ffffff !important;;
}
.mudrapay-gray-button{
    background: #e8e8e8;
    color: #464646 !important;;
}
.custom-button:hover {
    box-shadow: 0px 0px 12px #616161 !important;
}
/* -------------- types-of-loan Section -------------------*/
.types-of-loan{
    background-color: #394264;
    padding: 50px 0px;
}
.types-of-loan .col-sm-6:first-of-type p strong,
.inovicing-made-easy .col-sm-6:last-child p strong,
.try-our-app .col-sm-6 p strong{
    font-family: "Poppins";
    font-size: 36px;
    font-weight: bolder;
    margin: 40px 10px 15px 0;
    text-transform: uppercase;
}
.types-of-loan .col-sm-6:first-of-type p em,
.inovicing-made-easy .col-sm-6:last-child p em,
.try-our-app .col-sm-6 p em{
    font-family: "Poppins";
    font-size: 35px;
    margin: 40px 0 15px 0;
    font-weight: lighter;
    text-transform: uppercase;
}
.types-of-loan .col-sm-6:first-of-type img,
.inovicing-made-easy .col-sm-6:last-child img,
.try-our-app .col-sm-6:first-of-type img{
    width: 150px;
    margin-left: -10px;
    margin-bottom: 15px;
}
.types-of-loan .col-sm-6:first-of-type p,
.inovicing-made-easy .col-sm-6:last-child p,
.try-our-app .col-sm-6 p, .try-our-app .col-sm-6 ul li p{
    font-family:"Poppins";
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 70px;
}
.types-of-loan .col-sm-6:last-child .col-sm-6 {
    min-height: 235px;
    max-width: 250px;
    margin: 20px;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0px 0px 30px #000;
}
.types-of-loan .col-sm-6:last-child .col-sm-6 img{
    display: block;
    margin: auto;
    width: 125px;
    margin-top: 20px;
}
.types-of-loan .col-sm-6:last-child .col-sm-6 p{
    font-family: "Poppins";
    font-weight: 300;
    font-size: 14px;
    padding: 1.25rem;
    text-align: center;
}
/* -------------- inovicing-made-easy Section -------------------*/
.inovicing-made-easy .col-sm-6:first-of-type img{
    width: 375px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25px;
}
/* -------------- try-our-app Section -------------------*/
.try-our-app{
    background-color: #f1f1f1ed;
    padding: 50px 0px;
}
.try-our-app .col-sm-6 ul li::before{
    content: '■';
    color: #73b819;
    position: absolute;
    font-size: 26px;
    margin-left: -26px;
    margin-top: -6px;
}
.try-our-app .col-sm-6:last-child img{
    width: 315px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}
/* -------------- contact-us Section -------------------*/
.contact-us{
    width: 100%;
    padding: 40px 40px 0px 40px;
    max-height: 450px;
    object-fit: cover;
    height: max-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-us .FAIconCss{
    margin: 0 6px;
    font-size: 19px !important;
    color: #0e1625;
    float: right;
}
.contact-us p{
    font-family: "Poppins";
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.contact-us p em{
    font-family: "Poppins";
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.contact-us p em a{
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}
.contact-us p em a:hover{
    color: #73b819;
}

/* -------------- Extra small devices (portrait phones, less than 576px) -------------------*/
@media (max-width: 575.98px) {

}
/* -------------- Small devices -------------------*/
@media (max-width: 767.98px) {
    .home-banner img{
        margin-bottom: 0px;
    }
    .home-banner h1{
        margin: 42px 0 0 0;
    }
    .home-banner p{
        margin-bottom: 30px;
    }
    .types-of-loan .col-sm-6:first-of-type p {
        margin-right: 0px;
    }
    .types-of-loan .col-sm-6:last-child .col-sm-6 {
        display: block;
        margin: 20px auto 35px;
    }
}
/* -------------- Small devices (landscape phones, 576px and up) -------------------*/
@media (min-width: 576px) and (max-width: 767.98px) {

}
/* -------------- Medium devices (tablets, 768px and up) -------------------*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .home-banner h1{
        font-size: 28px;
        margin: 55px 0 0 0;
    }
    .types-of-loan .col-sm-6:first-of-type p strong{
        font-size: 28px;
    }
    .types-of-loan .col-sm-6:first-of-type p em{
        font-size: 28px;
    }
    .types-of-loan .col-sm-6:first-of-type p {
        margin-right: 0px;
    }
    .types-of-loan .col-sm-6:last-child .col-sm-6 {
        min-height: 270px;
        margin: 0 0 20px 0;
    }
    .try-our-app .col-sm-6:last-child img{
        width: 250px;
        height: 400px;
    }
}
/* -------------- Large devices (desktops, 992px and up) -------------------*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .home-banner img{
        width: 485px;
    }
    .home-banner h1{
        margin: 100px 0 0 0;
    }
    .types-of-loan .col-sm-6:last-child .col-sm-6 {
        margin: 0 0 25px 0;
    }
}
/* -------------- Extra large devices (large desktops, 1200px and up) -------------------*/
@media (min-width: 1200px) {

}


/* Top Navigation Section */

/* Top Navigation Section End */



/* mudrapay  end*/



.section-main .layout .center .row {
	text-align: center;
}

.marginLeftRight {
	margin-left: 30px;
	margin-right: 30px;
}

.marginTopBottom {
	margin-top: 30px;
	margin-bottom: 30px;
}

.paddingLeftRight {
	padding-left: 30px;
	padding-right: 30px;
}

.paddingTopBottom {
	padding-top: 30px;
	padding-bottom: 30px;
}

.layout .center {
	text-align: center;
}


/** Get to know Jobcase **/

.getToKnowJobcase {
	padding-bottom: 40px;
}

.getToKnowJobcase h1 {
	font-size: 28px;
	text-align: center;
}

.getToKnowJobcase h2 {
	padding-top: .5em;
	padding-bottom: .3em;
	font-size: 22px;
	text-align: center;
}

.getToKnowJobcase p {
	text-align: center;
	margin: 0 0 10px;
	font-size: 18px;
	padding-top: 1em;
}

.getToKnowJobcase img {
	padding-top: 3em;
	padding-bottom: 2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


/** Hero banner section **/

.heroBanner .image-bg {
	width: 100%;
	height: 700px;
	margin-top: 52px;
	text-align: center;
	color: white;
	background-size: cover;
}

.heroBanner h1 {
	padding-top: 7em;
	color: #fff;
	text-align: center;
	font-size: 44px;
	font-weight: 500;
}

.heroBanner h2 {
	color: #fff;
	text-align: center;
	font-size: 44px;
	font-weight: 500;
}

.heroBanner .jobCaseOrange {
	margin-top: 30px;
	background-color: #FF9000;
	color: #fff;
	border: 1px solid transparent;
	text-align: center;
	border-radius: 3px;
	font-size: 18px;
	line-height: 1.33333;
}


/** Jobcase Employers section **/

.jobcaseEmployers {
	color: white;
	background-size: cover;
}

.jobcaseEmployers img {
	display: block;
	width: 20em;
	height: auto;
	margin: auto;
}

.jobcaseEmp-bg {
	color: white;
	background-size: cover;
}

.jobcaseEmployers h2 {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 1em;
	font-size: 30px;
}

.jobcaseEmployers p {
	text-align: center;
	font-size: 17px;
}

.jobcaseEmployers .container {
	padding: 4em 14em 4em;
}