*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# downloaded stuff
bin

# ide stuff

/MudraPayCMS-webapp/target/
/MudraPayCMS-Main/target/
/mudrapay-theme/target/
/mudrapay-main/target/
.project
.projects
.classpath
.settings
.idea
*.iml

*.jar


# magnolia
logs
tmp
repositories
overlays

# jrebel configuration
rebel.xml


