@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html {
    scroll-behavior: smooth;
}
.pointer{
    cursor: pointer;
}
/* mudrapay */
/* header component*/
.header-component .toll-free-number p,
.header-component .whats-app-number a,
.header-component .support-email a,
.header-component  .get-the-app a{
    font-family: "Poppins";
    color: rgb(14, 22, 37);
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
    float: right;
    padding: 0 !important;
}
.header-component .toll-free-number p strong a,
.header-component .whats-app-number a{
    font-weight: 500 !important;
    text-decoration: none;
    color: #0e1625;
}
.header-component  .get-the-app a:hover{
    color: #73b819;
    text-decoration: none;
}
.header-component .toll-free-number p strong a:hover,
.header-component .whats-app-number a:hover,
.header-component .support-email a:hover{
    color: #73b819;
}
.header-component .support-email a{
    text-decoration: underline;
    color: #0e1625;
}
.header-component em{
    font-family: "Poppins";
    float: right;
    font-style: normal !important;
    font-size: 80%;
    font-weight: 400;
}
/* android icon */
.header-component .FAIconCss {
    font-size: 19px !important;
    color: #0e1625;
    float: right;
    margin-right: 5px;
}